body {
    background-color: hsl(126, 69%, 77%);
}

h1{
    font-size: 55px;
    font-family: "Garamond", "Times New Roman", serif;
    margin-top: 2rem; /* Equivalent to my-4 in tailwindcss */
    margin-bottom: 1rem; /* Equivalent to my-4 in tailwindcss */
    line-height: 2.5rem;
    text-align: center
}
h2 {
    font-size: 45px;
    font-family: "Garamond", "Times New Roman", serif;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem; /* Equivalent to my-4 in tailwindcss */
    margin-bottom: 1rem; /* Equivalent to my-4 in tailwindcss */
}
h3 {
    font-size: 35px;
    font-family: "Garamond", "Times New Roman", serif;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
p {
    font-size: 25px;
    font-family: "Garamond", "Times New Roman", serif;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
img {
    width: 500px;
    height: 500px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px
}
video {
    width: 500px;
    height: 500px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px
}

.grid-container {
    display: grid;
    margin-left: 5rem;
    margin-right: 5rem;
}

.four-photos {
    display: grid;
    margin-left: 5rem;
    margin-right: 5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.general-photos{
    display: grid;
    margin-left: 5rem;
    margin-right: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.two-photos {
    display: grid;
    margin-left: 5rem;
    margin-right: 5rem;
    grid-template-columns: 1fr 1fr;
}

.skip-to-content-link {
    background: #8b4201;
    color: #fff;
    height: auto;
    padding: 8px;
    position: fixed;
    left: 10px; 
    top: 10px;  
    transform: translateY(-100%);
    transition: transform 0.3s;
    opacity: 0; 
}

.skip-to-content-link:focus, .skip-to-content-link:active {
    transform: translateY(0%);
    opacity: 1; /* Make visible when focused */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.active {
    font-style: italic;
    font-weight: bold;
    background-color: #000000;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  ul {
    font-size: 25px;
    font-family: "Garamond", "Times New Roman", serif;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 2rem; 
  }
  ol {
    font-size: 25px;
    font-family: "Garamond", "Times New Roman", serif;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .topnav {
    background-color: #31633f;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-top: 20px;
    padding-left: auto;
    padding-right:auto;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 30px;
  }
  .topnav a:hover {
    background-color: #efefef;
    color: black;
  }
